<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Product</title>
</head>

<body>
    <form action="" method="post">
        <div class="container">
            <div class="row">
                <div class="col m4">
                    <input type="text" name="id" id="id" class="form-control" placeholder="ID">
                </div>
                <div class="col m5">
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <textarea name="descricao" id="descricao" cols="30" rows="10" class="form-control" placeholder="Description">
                </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col m4">
                    <input type="text" name="preco" id="preco" class="form-control" placeholder="Price">
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <input type="submit" value="Save" class="btn btn-success">
                </div>
            </div>
        </div>
    </form>

</body>

</html>