<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>

<body>
    <h1>PRODUCTS</h1>

    <table border="1px">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    TITLE
                </th>
                <th>
                    DESCRIPTION
                </th>
                <th>
                    PRICE
                </th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(book => { %>
                <tr>
                    <td>
                        <%= book.id %>
                    </td>
                    <td>
                        <%= book.titulo %>
                    </td>
                    <td>
                        <%= book.descricao %>
                    </td>
                    <td>
                        <%= book.preco %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>

</html>